@page "/customer-orders/{Id}"
@using System.Globalization
@inject HttpClient _httpClient;

@attribute [Authorize(Roles = "Admin")]

<h3>Customer Orders</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Order Date</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in _orderList)
        {
            <tr>
                <td class="col-4">@order.Id</td>
                <td class="col-4">@order.OrderDate.ToShortDateString()</td>
                <td class="col-4">@order.Total.ToString("c", CultureInfo.GetCultureInfo("sv-SE"))</td>
                <td>
                    @*<a class="btn btn-primary mt-1 w-100" href="orderdetails/@order.Id">Details</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string? Id { get; set; }

    private IEnumerable<Order> _orderList { get; set; } = new List<Order>();

    protected override async Task OnInitializedAsync()
    {
        var orders = await _httpClient.GetFromJsonAsync<ICollection<Order>>($"api/order/all/{Id}");

        if (orders is not null)
        {
            _orderList = orders;
        }
    }
}
